.button {
	@include transition-mix;

	padding: 10px 20px;
	display: inline-block;
	margin-right: 10px;

	font: {
		family: inherit;
		size: inherit;
	}
	color: $theme-font-color;
	text-decoration: none;

	background-color: #fff;
	border: 1px solid $theme-font-color;
	border-radius: 3px;

	cursor: pointer;

	outline: none;

	&:last-child {
		margin-right: 0;
	}

	&:hover,
	&.js-active {
		color: #fff;
		text-decoration: none;

		background-color: $theme-font-color;
	}
}
