html(lang="en")
    head
        include includes/setup/head

    body
        .container.mb-5

            // HEADER
            include includes/blocks/header

            // CONTENT
            include includes/blocks/content
