//PEN HEADER
header.header
  h1.header__title 'Load More' Concept
  .header__subtitle (Animate.css compatible)
  .header__btns.btns
    a.header__btn.btn(
      href="https://github.com/nat-davydova/load-more-concept",
      title="Check on Github",
      target="_blank"
    ) Check on Github

//PEN CONTENT
.content
  //content inner
  .content__inner
