mixin singleCard()
    // single card
    .card-block.col-md-4.col-sm-6.col-10.m-auto
        .card.mb-4
            .card-body
                h5.card-title Some Title
                p.card-text Some nice text is placed here
                a.btn.btn-primary(href="#") Just a link

.row
    +singleCard()
    +singleCard()
    +singleCard()
    +singleCard()
    +singleCard()
    +singleCard()
    +singleCard()
    +singleCard()
    +singleCard()
    +singleCard()
    +singleCard()
    +singleCard()
