.row.my-5
    .col-12
        header.header.text-center

          h1.header__title 'Load More' Concept

          .header__subtitle (Animate.css compatible)

          .header__btns.btns.mt-4

            a.header__btn.btn(
              href="https://github.com/nat-davydova/load-more-concept",
              title="Check on Github",
              target="_blank"
            ) Check on Github
